.container {
  width: 900px;
  max-width: 900px ;
  background-color: white;
  border-radius: 24px ;
  overflow: hidden ;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}


.high{
    background:#EF4444;
}

.medium{
    background:#F59E0B;
}

.low{
    background:#10B981;
}