/* Define universal Css*/
* {
  box-sizing: border-box;
  margin: 0px ;
  padding: 0px ;
  font-family: Segoe UI , sans-serif;
}

/* Main Container */
body{
    min-height:100vh;
    background:linear-gradient(
        135deg,
        #6439FF,
        #4F75FF,
        #00CCDD
    );

    width :100% ;

    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

